@import url(layout/fonts.css);
@import url(layout/normalize.css);
@import url(layout/base.css);

@import url(blocks/about.css);
@import url(blocks/contacts.css);
@import url(blocks/footer.css);
@import url(blocks/header.css);
@import url(blocks/hello.css);
@import url(blocks/logo.css);
@import url(./css/blocks/menu.css);
@import url(./css/blocks/news.css);
@import url(./css/blocks/offers.css);
@import url(blocks/paginator.css);
@import url(./css/blocks/social.css);
@import url(./css/blocks/header_services.css);
@import url(./css/blocks/offers_services.css);
@import url(./css/blocks/partners.css);
@import url(./css/blocks/title.css);
@import url(./css/blocks/button.css);
@import url(./css/blocks/forms.css);
@import url(./css/blocks/review.css);
@import url(./css/blocks/reviws.css);
@import url(./css/blocks/sale.css);
@import url(./css/blocks/form.css);
@import url(./css/blocks/tag.css);
@import url(./css/blocks/welcome.css);
