.about__us {
  display: flex;
  justify-content: space-between;
}
.about__us:before {
  content:"";
  
  width:490px;
height:505px;
background: url(/img/cameraman.jpg) center center / cover no-repeat;
}
.about {
  color: #000;
}
.about__content {
  background-color: #fff;
  padding:70px 81px;
  width: 785px;
  margin-left: -142px;
  margin-top: 100px;
  margin-bottom: 53px;
}


.about__text {
  font-size: 16px;
  width: 500px;
  line-height: 27px;
margin-bottom: 61px;
}

.about__text p{
  margin-bottom: 20px;
}

.about__text p:last-child {
  margin-bottom: 0;
}