.footer {
  
  width: 100%;
  height: 146px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 40px;
}
.footer__content--index:before {
  content: "";
  width: 100%;
  display: block;
  border-top: 1px solid #fff;
  opacity: 0.1;
  position: absolute;
  top:0;
  left: 0;
}

.footer--services{
 
height: 132px;
}




