.footer {
  margin-top: auto;
  width: 100%;
  height: 146px;
}
.footer--services{
 
height: 132px;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__content--line {
  border-top: 1px solid #fff;
  opacity: 0.1;
  margin-bottom: 40px;
}

