.form__row {
  display: flex;
  margin-bottom: 30px;
}
.form__input {
  flex: 1;
  margin-right: 28px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 18px;
}
.form__input:last-child {
  margin-right: 0px;
}

.form__input::placeholder {
color: #666;
}

.form__input--textaerea {
  height: 235px;
}

.controls__elem {
  cursor: pointer;
}
.controls__checkbox:checked ~ .controls__tag {
  background: #F2D4C9;
}

.controls__checkbox {
  display: none;
}
.form__controls {
  display: flex;
  padding-bottom: 33px;
}

.form__controls-title {
 width: 36%;
}
.controls {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
}

.controls__item {
  margin-right: 18px;
  margin-bottom: 10px;
}