.forms{
  background-color: #F4F5F5;
  color: #1A1B1E;

}

.forms__title {
  font-weight: bold;
font-size: 36px;
line-height: 49px;
text-transform: uppercase;
margin-bottom: 56px;
padding-top: 70px; ;
}
.form__controls-title {
font-size: 18px;
}

.form__buttons {
 display: flex;
 justify-content: flex-end;
 padding-bottom: 96px;
}
.button--color--grey {
  color: #fff;
  background-color: #8E8E8E;
  border:#8E8E8E ;
}
.button--color--grey:hover {
  background: #2B2B2B;
}

.button--color--red {
  background: #FF5500;
  color: #fff;
}

.form__button {
  margin-right: 13px;
}

.form__button:last-child {
margin-right: 0px;
}