.hello {
  
  text-align: center;
  margin-bottom: 233px;
}
.hello__title {
 font-size: 72px;
 font-weight: bold;
 line-height: 1.1;
 margin-bottom: 17px;
 text-transform: uppercase;
}

.hello__text {
  font-size: 18px;
  margin-bottom: 43px;
}