.partners {
  background:#F4F5F5; 
  color: #1A1B1E;
  padding-bottom: 121px;
  padding: 75px 0;
}
.title--partners {
  
  font-size: 48px;
  line-height: 65px;
  font-weight: bold;
  margin-bottom: 68px;
}
.partners-list {
display: flex;
flex-wrap: wrap;
  }
    
.partners-list__item {
  margin-bottom: 30px;
  margin-left: 15px;

}
.partners-list__item:nth-child(4n+1) {
margin-left: 0px;
}
.partners-list__link {
  filter: grayscale(100%);
 display: flex;
  text-decoration: none;
  width: 270px;
  height: 100px;
 align-items: center;
  justify-content: center; 

}

.partners-list__link:hover{
  filter: grayscale(0);
}
  
 