.partners {
  background:#F4F5F5; 
  color: #1A1B1E;
  padding-bottom: 121px;
  margin-bottom: 44px;
  padding: 88px 0;
}
.title--partners {
  
  font-size: 48px;
  line-height: 65px;
  font-weight: bold;
  margin-bottom: 82px;
}
.partners-list {
display: flex;
flex-wrap: wrap;
  }
    
.partners-list__item {
  margin-bottom: 30px;

}
.partners-list__item:nth-child(4n+1) {
margin-left: 0;
}
.partners-list__link {
  filter: grayscale(100%);
 display: flex;
  text-decoration: none;
  width: 270px;
  height: 100px;
 align-items: center;
  justify-content: center; 
}
.partners-list__link:hover{
  filter: grayscale(0);
}
  
  /* background: center center no-repeat;  */ 

 /* .partners-list__item--icon--di .partners-list__link{
  
  background-image: url(/img/img.services/divico.png);
}

.partners-list__item--icon--di .partners-list__link:hover{
  
  background-image: url(/img/img.services/divico.png);
}

.partners-list__item--icon--ds .partners-list__link{
  background-image: url(/img/img.services/ds.png);
}

.partners-list__item--icon--pa .partners-list__link{
  background-image: url(/img/img.services/park.png);
}

.partners-list__item--icon--zv .partners-list__link{
  background-image: url(/img/img.services/zvibes.png);
}

.partners-list__item--icon--rv .partners-list__link{
  background-image: url(/img/img.services/rosvideo.png);
}

.partners-list__item--icon--zav .partners-list__link{
  background-image: url(/img/img.services/zavod.png);
}
.partners-list__item--icon--pp .partners-list__link{
  background-image: url();
}
.partners-list__item--icon--ex .partners-list__link{
  background-image: url(/img/img.services/expotv.png);
} */