.reviews {
  display: flex;
  justify-content: space-around;
  /* flex-flow: column wrap; */
  /* column-count: 2;
  column-gap: 30px; */
  background-color: #fff;
  color:  #818181 ;
  
}
.reviews__list{
  display: flex;
  column-count: 2;
  column-gap: 30px;
  margin-bottom: 45px;
  margin-top: 94px;
  max-height: 1378px;
  justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}
.paginator--reviews{
  color: #000;
  margin-bottom: 93px;
  }
   .reviews__tags {
    display: flex;
    align-items: flex-start;
  }



