.sale {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  background:  #373737 url(/img/reviews/party.png) right 20% bottom no-repeat ;
  min-height: 363px;
}
.sale__wrapper {
  max-width: 50%;

}

.sale__offer {
  max-width: 553px;
  font-weight: bold;
font-size: 48px;
line-height: 65px;
color: #fff;
/* padding:117px 0; */
}