.social-list__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  }
  
  .social-list__item:last-child {
    margin-right:0;
  }
  
  .social-list__link {
    display: block;
    text-decoration: 0;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
  }
  
  .social-list {
    top: 50px;
    right: 250px;
  }
  
  .social-list__item--icon--telegram .social-list__link {
    background-image: url(/img/telegram.png);
  }
  
  .social-list__item--icon--telegram .social-list__link:hover {
    background-image: url(/img/telegram2\ .png);
  }
  
  
  .social-list__item--icon--vk .social-list__link {
    background-image: url(/img/vk.png);
  }
  
  .social-list__item--icon--vk .social-list__link:hover {
    background-image: url(/img/vk2.png);
  }
  
  
  
  .social-list__item--icon--fb .social-list__link {
    background-image: url(/img/f.png);
  }
  
  .social-list__item--icon--fb .social-list__link:hover {
    background-image: url(/img/f2.png);
  }
  .social-list__item--icon--insta .social-list__link {
    background-image: url(/img/in.png);
  }
  
  .social-list__item--icon--insta .social-list__link:hover{
    background-image: url(/img/in2.png);
  }