.welcome {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background: url(/img/welcome/bg.jpg) center bottom/cover no-repeat;
}

.welcome__center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome__logo {
  margin-bottom: 38px;
}
.welcome__center--video {
  opacity: 0;
  animation:rotateIn .9s;
  animation-fill-mode: forwards;
}
@keyframes rotateIn {
from {
transform: scale(0.1) rotate(30deg);
}
50%{
transform: rotate(-10deg);
}
70%{
transform:rotate(3deg);
}
to {
  opacity: 1;
  transform: scale(1);
}
}

/* .welcome__record {
  background: url(/img/welcome/rec.png) center top/cover no-repeat;
  width: 100%;
  height: 100%;
} */